<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h1 class="text-info pt-5">Order Completed Successfully!!!</h1>
        <p>You can check all your orders in the order section of your profile</p>
        <hr />
        <p>Thank You!</p>
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="index">Go Home...</a>
    </div>
</div>